*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.title{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #F6FDC3;
}
.App-main{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}
.App{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #CDFADB;
}

.Flex{
    height: 400px;
    width: 50%;
    background-color: #FFF7F1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Button{
    height: 400px;
    width: 40%;
    background-color: #FFF3CF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


@media (max-width:850px) {
    .App{
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 3%;
    }
    
.Flex{
    height: 400px;
    width: 80%;
    background-color: #FFF7F1;
}
.Button{
    height: 400px;
    width: 80%;
    background-color: #FFF3CF;
}
}

@media (max-width:450px) {
    .Flex{
        height: 280px;
        width: 280px;
        background-color: #FFF7F1;
    }
    .Button{
        height: 300px;
        width: 93%;
        background-color: #FFF3CF;
    }
    h1{
        font-size: 20px;
    }

}
@media (max-width:300px) {
    .Flex{
        height: 280px;
        width: 280px;
        background-color: #FFF7F1;
    }
    .Button{
        height: 300px;
        width: 100%;
        background-color: #FFF3CF;
    }
    h1{
        font-size: 15px;
    }

}